<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Login</title>
</head>
<body>
    <form id="user-form" class="round-corners" action="/login" method="post">
        <div class="form-item">
            <label for="user-username">Username:</label>
            <input id="user-username" class="form-input round-corners" type="text" id="username" name="username" required>
        </div>
        <div class="form-item">
            <label for="user-password">Password:</label>
            <input id="user-password" class="form-input round-corners" type="password" id="password" name="password" required>
        </div>
        <div class="form-item">
            <input type="checkbox" id="remember-me" name="remember-me">
            <label for="remember-me">Remember me</label>
        </div>

        {% if error %}<p id="error-msg">{{error}}</p>{% endif %}

        <input id="form-submit" class="form-item round-corners" type="submit" value="Login">

        <div id="switch-form">
            <p>Don't have an account? <a class="text-link" href="/register">Register</a></p>
        </div>
    </form>
</body>
</html>